.gallery{
    font-family: 'Cutive Mono', monospace;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.drawing-list{
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.drawing{
    background-position: center;
    /* border-radius: 10px; */
    padding: 1rem;
    min-height: 170px;
    max-height:280px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(176, 93, 148); */
}

.image{
    height: 280px;
    width: 280px;
}