.App {
  text-align: center;
}

.submit-button{
  margin-top: 30px;
}

input{
  padding:3px;
}

label{
  margin-right:40px;
}

.user-submission{
  color:rgb(73, 147, 86);
}

.person{
  margin-bottom:50px;
}

span{
  color:rgb(226, 33, 33);
}