
h1{
  margin-left: 100px;
  margin-bottom: -100px;
  text-align: center;
  font-size: 70px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke: 1px rgb(164, 126, 126);
  color:rgb(79, 56, 56);
}

h5{
  text-align: center;
  margin-left: 100px;
  margin-bottom: -100px;
}

h2{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
  color:rgb(79, 56, 56);
}

.background{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.form-field{
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 10px;
}

input{
  font-family: 'Cutive Mono', monospace;
}
.login{
  margin-bottom: 20px;
}
input:hover{
  filter: drop-shadow(0.25rem 0 0.75rem rgb(255, 255, 255));
}

button{
  font-family: 'Cutive Mono', monospace;
  border-style: none;
  padding: 5px;
}

button:hover{
  filter: drop-shadow(0.25rem 0 0.75rem rgb(255, 255, 255));
}

.bears{
  position: relative;
  margin-bottom: -150px;
  height: 300px;
  margin-top: -50px;
}

p{
  font-family: 'Cutive Mono', monospace;
  font-size: smaller;
  color: rgb(176, 18, 18);
  font-weight: bolder;
}


.login-reg-box {
  background: linear-gradient(transparent,rgb(235, 200, 200),rgb(194, 158, 172),rgb(197, 166, 178),rgb(235, 212, 212));
  border: 5px solid #351516;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
}

Footer{
  font-size:  10px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

