*{
  margin:0px;
  padding:0px;
}

.wrapper{
  margin-top: 210px;
  padding: 10px;
  min-width:450px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
}

.bears{
  margin-bottom: -110px;
  height: 380px;
  margin-top: 200px;
}

h1{
  margin-left: 40%;
  margin-bottom: -505px;
  text-align: center;
  font-size: 80px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke: 3px rgb(164, 126, 126);
  filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
  color: white;
}

.background{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.login-reg-box {
  background: linear-gradient(transparent,rgb(170, 104, 104),rgb(108, 85, 85));
  border: 5px solid #351516;
  padding: 10px;
  max-width: 50%;
  min-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
}

.register{
  margin-bottom: 20px;
  padding: 10px;
}

.login{
  margin-bottom: 20px;
  padding: 10px;
}

h2{
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
  color: white;
  margin-bottom: 5px;
}

/* h6 & p are for success and error messages */
h6{
  font-weight: bolder;
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

p{
  font-family: 'Cutive Mono', monospace;
  color: #321410;
  font-weight: bolder;
  font-size: smaller;
  margin-bottom: 20px;
}

.form-field{
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 10px;
  font-weight: bolder;
}

.LR-input{
  padding:5px;
  font-family: 'Cutive Mono', monospace;
  transition: 350ms;
}

.LR-input:hover{
  filter: drop-shadow(0.25rem 0 0.75rem rgb(255, 255, 255));
}

.terms-policy{
  font-size: 10px;
}

terms{
  color: white;
  text-decoration: underline;
}

.register-button, .login-button{
  filter: drop-shadow(0.25rem 0 0.75rem rgb(125, 96, 52));
  border-style: none;
  background-color: #F9DE87;
  font-family: 'Cutive Mono', monospace;
  padding: 5px;
  transition: 350ms;
}

.register-button:hover, .login-button:hover{
  background-color: #ffffff;
  filter: drop-shadow(0.25rem 0 0.75rem rgb(255, 255, 255));
}

footer{
  font-family: 'Pacifico', cursive;
  font-size: 10px;
  text-align: center;
}

/* NOTE STYLING ************************************************************************************************************************************ */

.wrapper.dashboard{
  background-color: #cee5dc;
}

header{
  background-color: #cee5dc;
  display: flex;
  justify-content: space-between;

}

h7{
  text-align: center;
  font-size: 80px;
  font-family: 'Pacifico', cursive;
  /* -webkit-text-stroke: 5px rgb(164, 126, 126); */
  filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
  color: white;
  padding: 5px;
}

.links{
  text-decoration: none;
  color: pink;
}

.bears-dash{
  height: 230px;
  width: 280px;
  display: flex;
  justify-content: end;
}

.notes-container{
  font-family: 'Cutive Mono', monospace;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  margin-bottom: 20px;
}

.search-box{
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.search-input{
  border: none;
}

.search-input:focus{
  outline: none;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note{
  white-space: pre-wrap;
  background-color: #F9DE87;
  background: linear-gradient(#f9de87,#fce9ab);
  /* background-image: url("../src/images/note-background.png"); */
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  border: 3px solid #351516;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note.new{
  color: white;
  background: none;
  background-color: #c29b9b;
}

textarea{
  background-color: #c29b9b;
  border: none;
  resize: none;
}

textarea:focus{
  outline: none;
}

.save{
  font-family: 'Cutive Mono', monospace;
  background-color: #745856;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  color: white;
}

.save:hover{
  color: black;
  background-color:white;
  filter: drop-shadow(0.5rem 0 0.95rem rgb(255, 255, 255));
  cursor: pointer;
}