
* {
}

h1{
  text-align: center;
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: white;
}

h2{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  filter: drop-shadow(0.25rem 0 0.75rem rgb(255, 255, 255));
}

.background{
  background-color: pink;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.login-reg-box{
  border: 4px solid black;
  text-align: center;
  padding:10px;
}

.form-field{
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 10px;
}

input:hover{
  filter: drop-shadow(0.25rem 0 0.75rem rgb(255, 255, 255));
}

button{
  font-family: 'Cutive Mono', monospace;
  border-style: none;
  padding: 5px;
}

button:hover{
}

p{
  font-family: 'Cutive Mono', monospace;
  font-size: 10px;
}

.penguin{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




