

.wrapper{
  text-align: center;
  background-color: rgb(230, 230, 230);
}

header{
  padding: 10px;
  text-align: start;
}

.player-box{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: solid 3px black;
}

table{
  padding: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  
}

th{
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(53, 52, 52);
  color: white;
}

td{
  background-color: rgb(237, 237, 237);
  border: solid 1px black;
}

button{
  border: solid 2px rgb(0, 0, 0) ;
  color:white;
  padding: 5px;
  background-color: rgb(115, 106, 106);
  margin-bottom: 5px;
  margin-top: 5px;
}

h2{
  padding: 10px;
  text-align: start;
}

input{ 
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  padding: 5px;
}

input:hover{
  background-color: rgb(243, 243, 243);
}