*{
  font-family: 'Cutive Mono', monospace;
  font-weight: bolder;
}

html{
  background-color: rgb(250, 250, 250);
}

.wrapper{
  text-align: center;
}

header{
  padding: 10px;
  text-align: start;
}

.player-box{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: solid 3px black;
}

table{
  padding: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  border: solid 1px black;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

th{
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(53, 52, 52);
  color: white;
}

td{
  background-color: rgb(237, 237, 237);
  
}

button{
  border: solid 2px rgb(0, 0, 0) ;
  color:white;
  padding: 5px;
  background-color: rgb(115, 106, 106);
  margin-bottom: 5px;
  margin-top: 5px;
}

button:hover{
  /* filter: drop-shadow(0.25rem 0 0.75rem rgb(101, 101, 101)); */
  background-color:rgb(255, 255, 255);
  color: black;
}

h2{
  padding: 10px;
  text-align: start;
}

input{ 
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  padding: 5px;
}

input:hover{
  background-color: rgb(243, 243, 243);
}

p{
  font-size:larger;
  color: red;
}

.subNav {
  font-size: 20px;
  font-weight: 300;
}

.globalNav{
  font-size: 20px;
  font-weight: 300;
}

span{
  padding:15px;
  margin-left: 10px;
  margin-right: -40px;
}

h1{
  text-align: center;
}

.playingButton {
  background-color: rgb(26, 103, 26);
  color: rgb(255, 255, 255);
}

.notPlayingButton{
  background-color: rgb(193, 6, 6);
  color: rgb(255, 255, 255);
}

.undecidedButton {
  background-color: rgb(224, 202, 7);
  color: rgb(255, 255, 255);
}